* {
    box-sizing: border-box;
}

input[type=text] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


p input {
    margin-left: 15em;
  }

p label{
    position: absolute;
    font-size: x-large;
    color: rgb(182, 13, 27);
}

button {
    padding: 10px;
    background-color: azure;    
}

h1{
    color: rgb(red, green, blue);